<div class="main-container">

  <div *ngIf="friends">
    <div class="row deck">
      <!-- Friend Card -->
      <div class="friend-card col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let friend of friends">
        <div class="friend-card-inner">
          <!-- Card Header -->
          <div class="card-header justify-content-center align-items-center">
            <h5 class="card-title">{{friend.name}}</h5>
          </div>
          <!-- Card Body -->
          <div class="card-body">
              <img class="rounded-circle img-fluid card-img" src={{friend.image}} alt={{friend.name}}>
              <p class="justify-content-center">
                <small>{{friend.mobile}}</small>
              </p>
              <p class="justify-content-center card-email align-items-center">
                <a href="mailto:{{friend.email}}" target="_top">
                  <small>{{friend.email}}</small>
                </a>
              </p>
              <!-- <small class="card-text">Friends from {{friend.time | date:"MM/dd/yy" }}</small> -->
          </div>
          <!-- Card Footer -->
          <div class="card-footer">
            <div class="row footer-buttons">
              <div class="col-12 col-md-6 text-center">
                <button class="btn btn-sm btn-block btn-outline-primary">Chat</button>
              </div>
              <div class="col-12 col-md-6 text-center">
                <button class="btn btn-sm btn-block btn-outline-danger">Unfollow</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="friends == null || friends.length === 0" class="no_info_container">
      <h1>No friends in your list</h1>
  </div>

</div>
