.main-container {

  padding: 50px 0 0 0;

  .card:hover {
    box-shadow: 0 8px 8px 3px rgba(220, 53, 69, 0.2);
  }

  .friend-card {
    padding: 7px;
    // border: 1px solid #dc3545;

    .friend-card-inner {
      border: 1px solid #26292b;
    }

    .card-header {
      background-color: #26292b;
      border-bottom: none;
      height: 70px;
      display: flex; // for verticall align center; use with align-items-center on parent
      flex-direction: row; // for verticall align center; use with align-items-center on parent

      h5 {
        margin-bottom: 0px;
        color: whitesmoke;
      }
    }

    .card-body {
      background-color: #343a40;
      padding: 10px 10px 0px 10px;
      word-wrap: break-word;
      color: grey;

      .card-img {
        margin: 0 auto 10px auto;
      }

      .card-email {
        height: 50px;
      }

      p {
        margin-bottom: 0px;
        word-break: break-all;
        display: flex; // for verticall align center; use with align-items-center on parent
        flex-direction: row; // for verticall align center; use with align-items-center on parent
      }
    }

    .card-footer {
      background-color: #26292b;
    }
  }
}

// Media queries must be in this order
@media only screen and (max-width: 767px) {
  .footer-buttons div:first-child {
    margin-bottom: 10px;
  }

}

@media only screen and (max-width: 575px) {
  .friend-card {
    padding: 0px !important;
    margin-bottom: 20px;
  }
}









