
<div class="nav-container bg-dark">
  <nav class="navbar navbar-expand-lg navbar-light bg-color">
    <div class="collapse navbar-collapse container" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item"
        *ngIf="authService.isUserLoggedIn"><a
        class="nav-link" routerLink="/me/info"
        routerLinkActive="active">My Profile</a></li>
        <li class="nav-item"
       *ngIf="authService.isUserLoggedIn">
        <a class="nav-link" routerLink="/me/friends"
        routerLinkActive="active">Friends</a></li>
        <li class="nav-item" ><a class="nav-link" routerLink="/about"
          routerLinkActive="active">About</a></li>
        <li class="nav-item" active
       *ngIf="!authService.isUserLoggedIn">
        <a class="nav-link" routerLink="/who-are-you/login"
        routerLinkActive="active">Login</a></li>
        <li class="nav-item" active
       *ngIf="authService.isUserLoggedIn">
        <a class="nav-link" routerLink="/who-are-you/login" (click)="onLogout()"
        routerLinkActive="active">Logout</a></li>
      </ul>
      <div class="form-container d-flex">

      </div>
    </div>
  </nav>
</div>

<div class=container>

  <div class="row">
    <div class="col-md-2"></div>
      <div class="col-12 col-md-8">
        <div class="input-group search-toolbar">
          <input
            type="text"
            class="form-control"
            placeholder="Search friends..."
            (keyup)="onSearch($event)"
            data-toggle="dropdown">
          <span class="input-group-btn">
            <button class="btn btn-danger btn" type="button">
              <fa name="search"></fa>
            </button>
          </span>
          <div class="dropdown-menu">
            <div class="list-group" *ngFor="let user of searchedUsers">
              <div class="list-group-item list-group-item-action">
                <div class="row">
                  <span class=col-2>
                    <img class="rounded-circle" src={{user.image}}>
                  </span>
                  <span class=col-10>{{user?.name}}</span>
                  <!-- <button class="col-2 btn btn-sm btn-success">Add</button> -->
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
  </div>


  <router-outlet></router-outlet>
</div>
